<div class="master_detail_table">
    <div class="master">
        <div ng-repeat="func in functions">
            <div id="master_{{func}}" ng-class="{'master_element': true, 'selected_master_elem': func == selectedFunction }" ng-style="'color: #aaaaaa'" ng-click="selectFunction(func)">
                <span class="master_element_text">{{ func }}</span>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="detail_function" ng-bind-html="functionDefinition"> </div>
    </div>
</div>
