<div id="table_filter_container">
    <table class="paginator">
        <tr>
            <td ng-class="{disabled: currentPage == 0}" class="prev">
                    <a href ng-click="prevPage()">« Prev</a>
                </td>
                <td class="desc">
                    {{ currentPageDescription() }}
                </td>
                <td ng-class="{disabled: currentPage == filteredItemPages.length - 1}" class="next">
                    <a href ng-click="nextPage()">Next »</a>
                </td>
        </tr>
    </table>

    <span ng-show="loadingText.length > 0"> {{ loadingText }} </span>
    <input id="table_filter_text_box" class="filter_text_box text_box_transient" placeholder="Filter" ng-model="queryInput">
</div>
<table class="data_table">
    <tbody>
        <tr ng-repeat="item in filteredItemPages[currentPage]">
            <td ng-class="{'history_text': true, 'no_overflow': selectedItems.indexOf(item) < 0}" ng-click="selectItem(item)">{{ item }}</td>
            <td class="history_delete">
                <a ng-click="deleteHistoryItem(item)">
                    <img class="delete_icon" src="delete.png">
                </a>
            </td>
        </tr>
    </tbody>
</table>
