<!-- The first 'sample' prompt is the current one; the remainders are samples. This ought to be cleaned up. -->
<div class="current_prompt" style="min-height: 7.5em">
	<div class="prompt_demo_choice_label">{{ selectedPrompt.name }}</div>
	<div ng-bind-html='selectedPrompt.demo | to_trusted' class="prompt_demo unbordered"></div>
	<div style="position: absolute; right: 5px; bottom: 5px; color:">
		<span class="save_button"
			  ng-show="showSaveButton"
			  style="color: #777"
			  ng-click="setPrompt()">{{ savePromptButtonTitle }}</span>
	</div>
</div>
<div style="margin: 10px 0 7px 35px;">Preview a prompt below:</div>
<div class="prompt_choices_scrollview">
<div class="prompt_choices_list">
    <div ng-repeat="prompt in samplePrompts">
        <div class="prompt_demo_choice_label">{{ prompt.name }}</div>
        <div ng-bind-html='prompt.demo | to_trusted' class="prompt_demo" ng-click="selectPrompt(prompt)"></div>
    </div>
</div>
</div>
