root = true

[*]
indent_size = 4
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[{Makefile,{BSD,GNU}makefile}]
indent_style = tab

[*.{md,rst}]
max_line_length = unset

[*.sh]
indent_size = 4

[build_tools/release.sh]
max_line_length = 72

[{Dockerfile,Vagrantfile}]
indent_size = 2

[share/{completions,functions}/**.fish]
max_line_length = unset

[{COMMIT_EDITMSG,git-revise-todo,*.jjdescription}]
max_line_length = 72

[*.yml]
indent_size = 2
