# vim: set filetype=fish sw=4 ts=4 et:

set -g prompt_counter 0
set -g prompt_counter_incr 0
function fish_prompt
    if test $prompt_counter_incr -eq 1
        set -g prompt_counter (math $prompt_counter + 1)
        set -g prompt_counter_incr 0
    end
    echo "prompt $prompt_counter>"
end
function fish_prompt_event --on-event fish_prompt
    set -g prompt_counter_incr 1
end

set -g fish_greeting ''

function fish_title
end
if functions -q fish_tab_title
    echo >&2 'ERROR: fish_tab_title unexpectedly defined in test environment'
end

function _marker -d '_marker string - prints @MARKER:$string@'
    echo "@MARKER:$argv[1]@"
end
