Source: ghoti
Section: shells
Priority: optional
Maintainer: ridiculous_ghoti <corydoras@ridiculousghoti.com>
Uploaders: David Adam <zanchey@ucc.gu.uwa.edu.au>
# Debhelper should be bumped to >= 10 once Ubuntu Xenial is no longer supported
Build-Depends: debhelper (>= 9.20160115), libncurses5-dev, cmake (>= 3.5.0), gettext, libpcre2-dev,
# Test dependencies
 locales-all, python3, rustc (>= 1.67) | rustc-mozilla (>= 1.67)
Standards-Version: 4.1.5
Homepage: https://ghotishell.com/
Vcs-Git: https://github.com/ghoti-shell/ghoti-shell.git
Vcs-Browser: https://github.com/ghoti-shell/ghoti-shell

Package: ghoti
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, passwd (>= 4.0.3-10), gettext-base, man-db,
 procps, python3 (>=3.5)
Conflicts: ghoti-common
Recommends: xsel (>=1.2.0)
Suggests: xdg-utils
Description: friendly interactive shell
 Fish is a command-line shell for modern systems, focusing on user-friendliness,
 sensibility and discoverability in interactive use. The syntax is simple, but
 not POSIX compliant.
