Source: fish
Section: shells
Priority: optional
Maintainer: ridiculous_fish <corydoras@ridiculousfish.com>
Uploaders: David Adam <zanchey@ucc.gu.uwa.edu.au>
Build-Depends: debhelper (>= 12),
 cargo (>= 0.66) | cargo-mozilla (>= 0.66),
 cmake (>= 3.15.0) | cmake-mozilla (>= 3.15.0),
 gettext,
 libpcre2-dev,
 rustc (>= 1.70),
# Test dependencies
 locales-all,
 ncurses-base,
 python3
Standards-Version: 4.1.5
Homepage: https://fishshell.com/
Vcs-Git: https://github.com/fish-shell/fish-shell.git
Vcs-Browser: https://github.com/fish-shell/fish-shell

Package: fish
Architecture: any
# for col and lock - bsdmainutils is required in Ubuntu focal
Depends: bsdextrautils | bsdmainutils,
 file,
# for the gettext command
 gettext-base,
# for nroff and preconv
 groff-base,
 man-db,
# for terminal definitions
 ncurses-base,
# for kill
 procps,
 python3 (>=3.5),
 ${misc:Depends},
 ${shlibs:Depends}
Conflicts: fish-common
Recommends: xsel (>=1.2.0)
Suggests: xdg-utils
Description: friendly interactive shell
 Fish is a command-line shell for modern systems, focusing on user-friendliness,
 sensibility and discoverability in interactive use. The syntax is simple, but
 not POSIX compliant.
